apiVersion: v1
kind: Service
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  # type: LoadBalancer
  ports:
  - name: http
    # LoadBalancer type
    # port: 80
    # targetPort: 8080
    port: 8080
  selector:
    app: user-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: user-service:latest
        imagePullPolicy: Never
        ports:
        - name: server
          containerPort: 8080
        env:
        - name: spring_datasource_url
          value: jdbc:mysql://user-mysql/ms_user?characterEncoding=UTF-8
        - name: spring_datasource_username
          valueFrom:
            secretKeyRef:
              name: user-mysql-secret
              key: MYSQL_USER
        - name: spring_datasource_password
          valueFrom:
            secretKeyRef:
              name: user-mysql-secret
              key: MYSQL_PASSWORD
        - name: client_team_host
          value: team-service
        - name: client_team_port
          value: $(TEAM_SERVICE_SERVICE_PORT)