apiVersion: v1
kind: Service
metadata:
  name: user-mysql
  labels:
    app: user-mysql
spec:
  #type: NodePort
  ports:
  - port: 3306
    #targetPort: 3306
    #nodePort: 31000
  selector:
    app: user-mysql
  clusterIP: None
---
apiVersion: v1
kind: Secret
metadata:
  name: user-mysql-secret
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: cGFzc3dvcmQx
  MYSQL_DATABASE: bXNfdXNlcg==
  MYSQL_USER: dGVzdHVzZXI=
  MYSQL_PASSWORD: cGFzc3dvcmQy
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: user-mysql-pv-claim
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-mysql
  labels:
    app: user-mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-mysql
  template:
    metadata:
      labels:
        app: user-mysql
    spec:
      containers:
      - image: mysql:8.0.13
        name: user-mysql
        args:
        - --character-set-server=utf8mb4
        - --collation-server=utf8mb4_unicode_ci
        - --default-authentication-plugin=mysql_native_password
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: user-mysql-secret
              key: MYSQL_ROOT_PASSWORD
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: user-mysql-secret
              key: MYSQL_USER
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: user-mysql-secret
              key: MYSQL_PASSWORD
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: user-mysql-secret
              key: MYSQL_DATABASE
        ports:
        - containerPort: 3306
          name: user-mysql
        volumeMounts:
        - name: user-mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: user-mysql-persistent-storage
        persistentVolumeClaim:
          claimName: user-mysql-pv-claim
